.container {
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.heading {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.heading::before,
.heading::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: black;
  opacity: 0.2;
}

.items {
  text-align: center;
}
