.container {
  max-width: 1000px;
  padding: 50px 20px;
  margin: 0 auto;
}

.heading {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

.heading::before,
.heading::after {
  content: "";
  flex: 1;
  height: 2px;
  min-width: 50px;
  background-color: black;
  opacity: 0.2;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 50px 0;
}

@media (width > 800px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
