.container {
  margin-top: 4rem;
  padding: 50px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.graphic {
  font-size: 4rem;
}

.message {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.link {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
}

.link:hover {
  outline: 1px solid black;
}
